*{
    /* background-color:grey */
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    background-color: #00806B;
    padding: 30px;
    justify-content: space-between;
    color: white;
    position: absolute;
}
.logo{
    margin-right:100px;
}
.login{
    margin-right: 50px;
}
.signup{
    display: flex;
    border: solid block;
    background-color: #00806B;
    height: 100px;
    width: 100vh;
    justify-content: space-around;
    align-items: center;
    color: white;
}
#doc1{
    height: 100vh;
    width: 50vw;
    float: right;
}
.about{
    padding: 70px;
    font-size: 26px;
}
