*{
    /* background-color:#E5E5E5; */
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    background-color: rgb(41, 83, 119);
    padding: 30px;
    justify-content: space-between;
    color: white;
}
.logo{
    margin-right:100px;
}
.login{
    margin-right: 50px;
}
.signup{
    display: flex;
    border: solid block;
    background-color:rgb(41, 83, 119);
    height: 100px;
    width: 100vh;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 20px;
}
#doc1{
    height: 100vh;
    width: 50vw;
    float: right;
    margin: 20px;
    border-radius: 10%;
}
#heri{
    padding: 40px;
    font-size: 32px;
}
#spec{
    padding: 30px;
    font-size: 28px;
}
.sect1,.sect2,.sect3{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 60px;
}
.fa-solid{
    color: rgb(47, 92, 102);
    font-size: 80px;
}
#special{
    text-align: center;
    margin: 40px;
    font-size: 25px;
}
.specialist{
    border: solid grey;
    margin: 30px;
    box-shadow: 5px 5px grey;
}
form{
    height: 400px;
    text-align: center;
    padding: 50px;
}
#imgn{
    height: 350px;
    width: 317px;
}
